body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  height: 400px;
  width: 300px;
  background-color: #2b5870;
  border-radius: 20px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.75);
}

.temperature-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.temperature-display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  padding: 70px;
  border-radius: 50%;
  font-size: 58px;
  color: white;
  height: 80px;
  width: 80px;
  text-align: center;
  transition: background 0.5s;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
}

button {
  height: 60px;
  width: 60px;
  margin: 5px;
  border-radius: 100px;
  background: rgb(105, 104, 104);
  border: 2px #ffffff solid;
  font-size: 30px;
}

button:hover {
  background: rgb(184, 184, 184);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.cold {
  background-color: #035aa6;
}

.hot {
  background: #ff5200;
}
