.button {
  height: 10vh;
  width: 5vw;
  background-color: #e0e1e6;
  text-align: center;
  color: #888888;
  outline: 1px solid #888888;
  border: none;
}

.operator {
  height: 10vh;
  width: 5vw;
  outline: 1px solid #888888;
  border: none;
  background-color: orange;
  color: white;
}

.input {
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  background-color: #000000;
  color: #ffffff;
  /* padding: 0.5em; */
  outline: 1px solid #888888;
}
